.navbar {
  background: #777;
  padding: 10px;
}

.nav-main {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-main li {
  color: white;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background: #444;
  list-style: none;
  padding: 10px;
}

.learning-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #333;
  color: white;
  min-height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  background: #f5caca;
}
