*{
    margin-top:10px;
}

.ol{
    display: flex;
   justify-content: space-evenly;
  list-style-type: none;
  padding:13px;

}

header{
background-color: blueviolet;

}

.li{
    text-decoration:none;
    color: white;
    padding:2px;
}
.li:hover{
    background-color: white;
    color: chocolate;
    border-radius: 5px;
}